html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 20px;
}

form label {
    font-weight: bold;
    margin-top: 20px;
}

form input {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
}

#endereco-form {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-block: 5px;
    transition: all 0.5s ease;
}

#endereco-form:hover {
    background-color: #ccc;
    cursor: pointer;
    scale: 1.05;
}

input:focus {
    outline: none;
    border-color: #00000062;
}